

@font-face {
	font-family: 'PFDINTEXTCONDPRO';
	src: url('fonts/PFDINTEXTCONDPRO-MEDIUM.woff');
	font-weight: normal;
	font-style: normal;
}

body {
    font-family: 'PFDINTEXTCONDPRO';
    font-size: 18px;
}

.doc_link, .go_link {
    display: block;
  }

.navigation > li {
    display: inline;
  }

#nav_about {
  color: red;
}

#drop_list {
    display: block;
}
